<footer class="w-full bg-gray-900 text-white py-4">
    <div class="container mx-auto text-center space-y-2">
      <p class="text-sm">
        &copy; 2024 Universidad Tecnológica del Valle de Toluca. Todos los derechos reservados.
      </p>
      <div class="flex justify-center space-x-4">
        <a href="/contacto" class="hover:text-green-500 text-sm">Contacto</a>
        <a href="/privacidad" class="hover:text-green-500 text-sm">Política de Privacidad</a>
        <a href="https://utvt.edomex.gob.mx/" target="_blank" class="hover:text-green-500 text-sm">Página Oficial</a>
      </div>
    </div>
  </footer>
  