<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>

  <body class="bg-gray-300 via-white to-gray-200 min-h-screen flex items-center justify-center p-6">
    <div
      class="container mx-auto p-8 bg-white rounded-lg shadow-lg text-center"
    >
      <h1 class="text-3xl font-bold text-gray-800 mb-4">
        Bienvenido al portal de la
        <span class="text-green-800"
          >Universidad Tecnológica del Valle de Toluca</span
        >
      </h1>
      <p class="text-gray-600 mb-6">
        Este es un portal donde se proporcionan varias APIs relacionadas con la
        institución.
      </p>

      <div class="grid gap-6 mb-6">
        <!-- Botón Visitar el Sitio Web -->
        <a
          href="https://utvt.edomex.gob.mx/"
          target="_blank"
          class="flex items-center justify-center p-6 bg-green-700 text-white rounded-lg shadow-lg hover:bg-green-800 transition"
        >
          <i class="bi bi-house text-3xl mr-4"></i>
          <span class="text-xl font-semibold">Visitar el Sitio Web</span>
        </a>
      </div>

      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
          <!-- Botón Transporte -->
          <a
            href="/cuervobus"
            class="flex items-center justify-center p-6 bg-green-700 text-white rounded-lg shadow-lg hover:bg-green-800 transition"
          >
            <i class="bi bi-bus-front-fill text-3xl mr-4"></i>
            <span class="text-xl font-semibold">Transporte</span>
          </a>
          <!-- Botón Inicio de Sesión -->
          <a
            href="/login"
            class="flex items-center justify-center p-6 bg-green-700 text-white rounded-lg shadow-lg hover:bg-green-800 transition"
          >
            <i class="bi bi-fingerprint text-3xl mr-4"></i>
            <span class="text-xl font-semibold">Iniciar Sesión</span>
          </a>
        </div>
        <!-- Botón Descargar App -->
        <div class="grid gap-6">
          <a
            href="https://play.google.com/store/apps/details?id=com.edwinf942.utvtol"
            class="flex items-center justify-center p-6 bg-red-700 text-white rounded-lg shadow-lg hover:bg-red-800 transition"
          >
            <i class="bi bi-google-play text-3xl mr-4"></i>
            <span class="text-xl font-semibold">Descargar App</span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
